<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print {{recipe.title}}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='/css/main.css')}}">
    <!-- <link rel="stylesheet" href="/whats-for-dinner2/whats-for-dinner/static/style.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body class="bg-light text-dark" id="printIngredients">
    
    <div class="container justify-content-start" id="ingredientView">
        <input type="hidden" id="recipeId" name="recipeId" value="{{recipe.id}}">
        
        <p style="font-size:11px">
            <a href="/dinner-view/{{menu.id}}"><button class="m-1 btn btn-sm btn-success" style="font-size:11px">Back</button></a>
            <span style="font-weight:500">Direction:</span> Right click and select print or use Ctrl P keyboard shortcut.</p>
        <div class="text-center" id="msgDisplay">
                   
        </div>
        <div class="container-fluid border justify-content-start" style="max-width:350px">

            <h3>Shopping List: {{recipe.title}}</h3>
            
            <p class="h5" style="font-size:12px;">Ingredients:</p>
            <ul id="ingredientDisplay" style="font-size:12px"></ul>
            
            
        </div>
    </div>                                                                            
  
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="module" src="{{url_for('static', filename='app.js')}}"></script>
</body>
</html>